<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
    <!-- Bootstrap CSS -->
    	<link rel="stylesheet" type="text/css" href="" th:href="@{/css/index.css}">
  
  
  
<title>Makersharks</title>

  
<style> 
		body { 
			margin: 0; 
			padding: 0; 
		} 

	/*	div {  
			position: absolute; 
			top: 50%; 
			left: 50%; 
			transform: translate(-50%, -50%); 
		} 
*/
		h6 { 
			font-size: 1.0rem; 
			font-family: serif; 
			color: #ff1a1a;
			background-color: #ffe6f9;
			text-align: center;
			animation: animate 
				1.5s linear infinite; 
		} 

		@keyframes animate { 
			0% { 
				opacity: 0; 
			} 

			50% { 
				opacity: 0.7; 
			} 

			100% { 
				opacity: 0; 
			} 
		} 
	</style>

</head>
<header>
<div id="a">

<h1 align="center">Makersharks</h1>


</div>
    <div align="center" calss= "jay">
     	<a th:href="@{/}" >Home</a>
          	
    </div>

<div id="b">
<h2 align="center">Have a account?<h2>
<div align="center" id="c">
<a  href="registration">Sign Up</a>

</div>

</div>

</header>

<body>

</div>

<footer id="con2">
<div align="center" id="vv">
	<br>
	<br>
	<form align="center" action="" th:action="@{/login}" method="post">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
		<label>User Name</label>
		<input type="text" id="email" name="email" placeholder="USER NAME"/>
		<br>
		<br>
		<label>Password</label>
		<input type="password" id="password" name="password" placeholder="PASSWORD"/>
		<br>
		<br>
		<button type="submit">login</button>
				
	</form>
	</div>
	<br>
	<div align="center">
	<span>New User?<a href="/" th:href="@{/registration}">Register here</a></span>
</div>
<br>

<!-- 
<button><p>MAKE MY Class Greate</p></button>
 -->

<div id="sf">



</div>
</footer>
</body>
</html>