<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
    <!-- Bootstrap CSS -->
    	<link rel="stylesheet" type="text/css" href="" th:href="@{/css/index.css}">

  
  
  <script src="static/js/" th:src="@{/js/video_player2.js}" type="text/javascript"></script>
<title>Makersharks</title> 



</head>
<header>
<div align="center" id="a">

<h1>Makersharks</h1>


</div>
    <div align="center" calss= "jay">
        <a th:href="@{/}">HOME</a>
    </div>

<div align="center" id="b">
<h2>Already have a account?<h2>
<div align="center" id="c">
<a href="login">Sign In</a>

</div>

</div>

</header>

<body >

</div>

<footer id="con2">
<div align="center" id="vv">
	<br>
	<br>
		<form action="" th:action="@{/registration}" method="post">
			<br>
	<br>
	<br>
	<br>
	<br>
	<br>
		<label>First Name</label>
		<input type="text" id="firstname" name="firstname" placeholder="FIRST NAME"/>
		
		<br>
		<br>
		
		<label>Last Name</label>
		<input type="text" id="lastname" name="lastname" placeholder="LAST NAME"/>

		<br>
		<br>
	
		<label>EMAIL</label>
		<input type="text" id="email" name="email" placeholder="EMAIL"/>
		
		<br>
		<br>
		<label>MOBILE</label>
		<input type="text" id="mobile" name="mobile" placeholder="MOBILE">
		
		<br>
		<br>
		<label>Password</label>
		<input type="password" id="password" name="password" placeholder="PASSWORD"/>
		
		<br>
		<br>
		<button type="submit">Register</button>
				
	</form>
	</div>
	<br>
	<div align="center">
	<span>Already a User?<a href="/" th:href="@{/login}">Login</a></span>
</div>
<br>


<!-- 
<button><p>MAKE MY Class Greate</p></button
 -->

<div id="sf">


</div>
</footer>
</body>
</html>