<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Makersharks</title>
    	<link rel="stylesheet" type="text/css" href="" th:href="@{/css/index.css}">

<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=661f83ed696c5b0019fbab09&product=inline-share-buttons&source=platform" async="async"></script>

</head>
<body>
<div align="center">	
		
	<h1>Makersharks</h1>
	
	<a href="/api/supplier/new_supplier">Create New Supplier</a>	
	    <div class="logout">     	
    <a class="logout" th:href="@{/logout}">logout</a>
    </div>
	
	
	<br/><br/>
	<form th:action="@{/supplierlist}">
		<input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
		&nbsp;
		<input type="submit" value="Search" />
		&nbsp;
		<input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
	</form>
	<br/><br/>
	
	<table border="1" cellpadding="10">
	
		<div th:if="${totalSupplier > 1}">
		Total Supplier: [[${totalSupplier}]]
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</div>
		<thead>
			<tr>
				<th>supplier_id </th>
				<th>company_name</th>
				<th>website</th>
				<th>Location</th>
				<th>nature_of_business </th>	
				<th>manufacturing_processes </th>
					
				
				<th>Action</th>				
			</tr>
		</thead>
		<tbody>
			<tr th:each="supplier : ${supplierlist}">
				<td th:text="${supplier.supplier_id}">supplier_id</td>
				<td th:text="${supplier.company_name}">company_name</td>
				<td th:text="${supplier.website}">website</td>
				<td th:text="${supplier.location}">Location</td>
				<td th:text="${supplier.nature_of_business}">nature_of_business</td>
				<td th:text="${supplier.manufacturing_processes}">manufacturing_processes</td>
				
				<td>
					<a th:href="@{'/api/supplier/edit/' + ${supplier.supplier_id}}">Edit</a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a th:href="@{'/api/supplier/delete/' + ${supplier.supplier_id}}">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<script type="text/javascript">
	function clearSearch() {
		window.location = "[[@{/supplierlist}]]";
	}
</script>




</body>
</html>